<style type="text/css">
    body{background-color: #DADAF1;
      margin:15px;
      padding:5px;
      padding:10px;}
    #imagecenter{display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;}
    h2{color:#1A188D;
      font-family: optima;
      font-weight: bolder;
      text-align: center;}
    h3{color:white;
      font-family: optima;
      font-weight:200;
      font-style: italic;
      text-align: center;}
    h4{color:#11111A;}
    p{color:#11111A;
    line-height: 25px;}
    a{color:#11111A;
      font-family: optima;
      font-style:italic;}
    ul{color:#1A188D;
      font-style:normal;}
    #HobbiesList{font-style: italic;
      font-family: optima;
      text-align: center;}
    table{color:#11111A;
      border-style: hidden;}
    div{background-color: white;
      width:auto; height:30px;}
    form{padding: 5px;
      background-color: white;
      font-family:optima;
      border-style: outset;}
    input[type=button]{
      color: white;
      font-style: oblique;
      font-weight: bold;
      font-family: optima;
      background-color: #DADAF1;
      padding: 3px;}
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
      text-align: center;}
</style>
